---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{Astro.props.title}</title>
    <meta
      name="description"
      content="Explore the Flutter ecosystem with flutter-graph: a powerful tool for visualizing package dependencies, metrics, and insights. Dive deep into the world of Flutter packages and discover how they connect and interact with each other."
    />
    <meta
      name="keywords"
      content="Flutter, Dart, Flutter packages, package dependencies, Flutter ecosystem, interactive graph, metrics, insights"
    />
    <meta name="author" content="ajomuch92" />
  </head>
  <body class="bg-gray-100">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
